In [1]:
# import libraries
import wandb
import pandas as pd
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
run = wandb.init(project="usa_census", group="eda", save_code=True)
local_path = wandb.use_artifact("census.csv:latest").file()
df = pd.read_csv(local_path, " ")

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
wandb: Currently logged in as: milon101. Use `wandb login --relogin` to force relogin

/home/imdadul/miniconda3/envs/nyc_airbnb_dev/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
df = pd.read_csv(local_path, skipinitialspace=True)

In [2]:
run.finish()

VBox(children=(Label(value='0.050 MB of 0.050 MB uploaded (0.000 MB deduped)\r'), FloatProgress(value=1.0, max…

In [5]:
# using pandas_profilisng library to get an overall overview of the data
import pandas_profiling
                                                                                                                                                                                                                    
profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/29 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [29]:
df["native-country"].unique()
# df.columns

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

 There are missing values in a few columns and the column `last_review` is a date but it is in string format. Look also at the `price` column, and note the outliers. There are some zeros and   some very high prices. After talking to your stakeholders, you decide to consider from a minimum of \$ 10 to a maximum of \$ 350 per night. Fix some of the little problems we have found in the data with the following code:

In [2]:

import numpy as np
df = df.replace('\?', np.nan, regex=True)
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              30162 non-null  int64
 1    workclass       30162 non-null  object
 2    fnlwgt          30162 non-null  int64
 3    education       30162 non-null  object
 4    education-num   30162 non-null  int64
 5    marital-status  30162 non-null  object
 6    occupation      30162 non-null  object
 7    relationship    30162 non-null  object
 8    race            30162 non-null  object
 9    sex             30162 non-null  object
 10   capital-gain    30162 non-null  int64
 11   capital-loss    30162 non-null  int64
 12   hours-per-week  30162 non-null  int64
 13   native-country  30162 non-null  object
 14   salary          30162 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
import pandas_profiling
profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/30 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [7]:
cat_features = [
        " workclass",
        "education",
        "marital-status",
        "occupation",
        "relationship",
        "race",
        "sex",
        "native-country"
    ]

df[cat_features[0]].unique()

for cls in df[cat_features[0]].unique():
            df_temp = df[df[cat_features[0]] == cls]
            print(df_temp.head())

     age   workclass   fnlwgt      education   education-num  \
0     39   State-gov    77516      Bachelors              13
11    30   State-gov   141297      Bachelors              13
34    22   State-gov   311512   Some-college              10
48    41   State-gov   101603      Assoc-voc              11
123   29   State-gov   267989      Bachelors              13

          marital-status       occupation    relationship  \
0          Never-married     Adm-clerical   Not-in-family
11    Married-civ-spouse   Prof-specialty         Husband
34    Married-civ-spouse    Other-service         Husband
48    Married-civ-spouse     Craft-repair         Husband
123   Married-civ-spouse   Prof-specialty         Husband

                    race    sex   capital-gain   capital-loss  \
0                  White   Male           2174              0
11    Asian-Pac-Islander   Male              0              0
34                 Black   Male              0              0
48                 White   Male              0              0
123                White   Male              0              0

      hours-per-week  native-country  salary
0                 40   United-States   <=50K
11                40           India    >50K
34                15   United-States   <=50K
48                40   United-States   <=50K
123               50   United-States    >50K
    age          workclass   fnlwgt    education   education-num  \
1    50   Self-emp-not-inc    83311    Bachelors              13
7    52   Self-emp-not-inc   209642      HS-grad               9
16   25   Self-emp-not-inc   176756      HS-grad               9
19   43   Self-emp-not-inc   292175      Masters              14
39   48   Self-emp-not-inc   265477   Assoc-acdm              12

         marital-status        occupation  relationship    race      sex  \
1    Married-civ-spouse   Exec-managerial       Husband   White     Male
7    Married-civ-spouse   Exec-managerial       Husband   White     Male
16        Never-married   Farming-fishing     Own-child   White     Male
19             Divorced   Exec-managerial     Unmarried   White   Female
39   Married-civ-spouse    Prof-specialty       Husband   White     Male

     capital-gain   capital-loss   hours-per-week  native-country  salary
1               0              0               13   United-States   <=50K
7               0              0               45   United-States    >50K
16              0              0               35   United-States   <=50K
19              0              0               45   United-States    >50K
39              0              0               40   United-States   <=50K
   age  workclass   fnlwgt   education   education-num  \
2   38    Private   215646     HS-grad               9
3   53    Private   234721        11th               7
4   28    Private   338409   Bachelors              13
5   37    Private   284582     Masters              14
6   49    Private   160187         9th               5

           marital-status          occupation    relationship    race  \
2                Divorced   Handlers-cleaners   Not-in-family   White
3      Married-civ-spouse   Handlers-cleaners         Husband   Black
4      Married-civ-spouse      Prof-specialty            Wife   Black
5      Married-civ-spouse     Exec-managerial            Wife   White
6   Married-spouse-absent       Other-service   Not-in-family   Black

       sex   capital-gain   capital-loss   hours-per-week  native-country  \
2     Male              0              0               40   United-States
3     Male              0              0               40   United-States
4   Female              0              0               40            Cuba
5   Female              0              0               40   United-States
6   Female              0              0               16         Jamaica

   salary
2   <=50K
3   <=50K
4   <=50K
5   <=50K
6   <=50K
    age     workclass   fnlwgt      education   education-num  \
22   35   Federal-gov    76845            9th               5
33   30   Federal-gov    59951   Some-college              10
45   57   Federal-gov   337895      Bachelors              13
53   50   Federal-gov   251585      Bachelors              13
89   43   Federal-gov   410867      Doctorate              16

         marital-status        occupation    relationship    race      sex  \
22   Married-civ-spouse   Farming-fishing         Husband   Black     Male
33   Married-civ-spouse      Adm-clerical       Own-child   White     Male
45   Married-civ-spouse    Prof-specialty         Husband   Black     Male
53             Divorced   Exec-managerial   Not-in-family   White     Male
89        Never-married    Prof-specialty   Not-in-family   White   Female

     capital-gain   capital-loss   hours-per-week  native-country  salary
22              0              0               40   United-States   <=50K
33              0              0               40   United-States   <=50K
45              0              0               40   United-States    >50K
53              0              0               55   United-States    >50K
89              0              0               50   United-States    >50K
    age   workclass   fnlwgt    education   education-num  \
25   56   Local-gov   216851    Bachelors              13
30   23   Local-gov   190709   Assoc-acdm              12
79   31   Local-gov   125927      7th-8th               4
86   49   Local-gov   268234      HS-grad               9
94   34   Local-gov   226296    Bachelors              13

         marital-status        occupation    relationship    race    sex  \
25   Married-civ-spouse      Tech-support         Husband   White   Male
30        Never-married   Protective-serv   Not-in-family   White   Male
79   Married-civ-spouse   Farming-fishing         Husband   White   Male
86   Married-civ-spouse   Protective-serv         Husband   White   Male
94   Married-civ-spouse   Protective-serv         Husband   White   Male

     capital-gain   capital-loss   hours-per-week  native-country  salary
25              0              0               40   United-States    >50K
30              0              0               52   United-States   <=50K
79              0              0               40   United-States   <=50K
86              0              0               40   United-States    >50K
94              0              0               40   United-States    >50K
     age  workclass   fnlwgt      education   education-num  \
27    54          ?   180211   Some-college              10
61    32          ?   293936        7th-8th               4
69    25          ?   200681   Some-college              10
77    67          ?   212759           10th               6
106   17          ?   304873           10th               6

             marital-status  occupation    relationship                 race  \
27       Married-civ-spouse           ?         Husband   Asian-Pac-Islander
61    Married-spouse-absent           ?   Not-in-family                White
69            Never-married           ?       Own-child                White
77       Married-civ-spouse           ?         Husband                White
106           Never-married           ?       Own-child                White

         sex   capital-gain   capital-loss   hours-per-week  native-country  \
27      Male              0              0               60           South
61      Male              0              0               40               ?
69      Male              0              0               40   United-States
77      Male              0              0                2   United-States
106   Female          34095              0               32   United-States

     salary
27     >50K
61    <=50K
69    <=50K
77    <=50K
106   <=50K
     age      workclass   fnlwgt      education   education-num  \
54    47   Self-emp-inc   109832        HS-grad               9
68    49   Self-emp-inc   191681   Some-college              10
105   32   Self-emp-inc   317660        HS-grad               9
116   56   Self-emp-inc   303090   Some-college              10
140   61   Self-emp-inc    66614        HS-grad               9

          marital-status        occupation    relationship    race    sex  \
54              Divorced   Exec-managerial   Not-in-family   White   Male
68    Married-civ-spouse   Exec-managerial         Husband   White   Male
105   Married-civ-spouse      Craft-repair         Husband   White   Male
116   Married-civ-spouse             Sales         Husband   White   Male
140   Married-civ-spouse      Craft-repair         Husband   White   Male

      capital-gain   capital-loss   hours-per-week  native-country  salary
54               0              0               60   United-States   <=50K
68               0              0               50   United-States    >50K
105           7688              0               40   United-States    >50K
116              0              0               50   United-States   <=50K
140              0              0               40   United-States   <=50K
       age     workclass   fnlwgt  education   education-num  \
1901    65   Without-pay    27012    7th-8th               4
9257    19   Without-pay   344858    HS-grad               9
15533   21   Without-pay   232719    HS-grad               9
15695   22   Without-pay   302347    HS-grad               9
16812   46   Without-pay   142210    HS-grad               9

            marital-status          occupation  relationship    race      sex  \
1901               Widowed     Farming-fishing     Unmarried   White   Female
9257         Never-married     Farming-fishing     Own-child   White     Male
15533        Never-married        Craft-repair     Own-child   Black     Male
15695        Never-married   Handlers-cleaners     Own-child   White     Male
16812   Married-civ-spouse   Machine-op-inspct          Wife   White   Female

        capital-gain   capital-loss   hours-per-week  native-country  salary
1901               0              0               50   United-States   <=50K
9257               0              0               20   United-States   <=50K
15533              0              0               40   United-States   <=50K
15695           4416              0               40   United-States   <=50K
16812              0              0               25   United-States   <=50K
       age      workclass   fnlwgt      education   education-num  \
5361    18   Never-worked   206359           10th               6
10845   23   Never-worked   188535        7th-8th               4
14772   17   Never-worked   237272           10th               6
20337   18   Never-worked   157131           11th               7
23232   20   Never-worked   462294   Some-college              10

       marital-status  occupation    relationship    race      sex  \
5361    Never-married           ?       Own-child   White     Male
10845        Divorced           ?   Not-in-family   White     Male
14772   Never-married           ?       Own-child   White     Male
20337   Never-married           ?       Own-child   White   Female
23232   Never-married           ?       Own-child   Black     Male

        capital-gain   capital-loss   hours-per-week  native-country  salary
5361               0              0               40   United-States   <=50K
10845              0              0               35   United-States   <=50K
14772              0              0               30   United-States   <=50K
20337              0              0               10   United-States   <=50K
23232              0              0               40   United-States   <=50K

wandb: Network error (ReadTimeout), entering retry loop.
wandb: Network error (ReadTimeout), entering retry loop.
wandb: Network error (ReadTimeout), entering retry loop.
wandb: Network error (ReadTimeout), entering retry loop.

In [ ]:
# drop outliers
min_price = 10
max_price = 340
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()
# convert last review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])